<div class="my-hero bd-gutter">
	<div class="px-4 py-5 my-5 text-center">
		<img class="d-block mx-auto mb-4" src="@env.resources/static/img/logo.png" alt="WebStencils">
		<h1 class="display-3 fw-bold my-text-gradient">@env.AppName</h1>
		<h2 class="display-6">@env.AppEdition</h2>		
		<div class="col-lg-6 mx-auto">
			<div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
				<a href="@env.resources/basics" class="btn btn-primary btn-lg px-4 gap-3" tabindex="-1" role="button">See Docs</a>
				<a href="@env.resources/tasks" class="btn btn-outline-secondary btn-lg px-4" tabindex="-1" role="button">HTMX
					demo</a>
			</div>
		</div>
	</div>
</div>